@font-face {
  font-family: 'Lemon';
  font-style: normal;
  font-weight: 400;
  src: local('Lemon Regular'), local('Lemon-Regular'), url(/assets/stylesheets/font/lemon/WRZq1AYYveIOSocZAeAyAw.ttf) format('truetype');
}
