@font-face {
  font-family: 'Lemon';
  font-style: normal;
  font-weight: 400;
  src: local('Lemon Regular'), local('Lemon-Regular'), url(http://themes.googleusercontent.com/static/fonts/lemon/v2/WRZq1AYYveIOSocZAeAyAw.ttf) format('truetype');
}
