<configuration>

  <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <!-- <level>ERROR</level> -->
      <level>WARN</level>
      <!-- <level>INFO</level> -->
      <!-- <level>DEBUG</level> -->
    </filter>
    <encoder>
      <pattern>%d{HH:mm:ss} %highlight(%-5level) %cyan(%logger{35}): - %msg%n%xException{10}</pattern>
      <!-- <pattern>%d{HH:mm:ss} %-5level %logger{35}: - %msg%n%xException{10}</pattern> -->
    </encoder>
  </appender>

  <!-- <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>ERROR</level>
    </filter>
    <target>System.err</target>
    <encoder>
      <pattern>%d{HH:mm:ss} %highlight(%-5level) %cyan(%logger{35}): - %msg%n%xException{10}</pattern>
    </encoder>
  </appender> -->

  <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="STDOUT" />
  </appender>

  <!-- <appender name="ASYNCSTDERR" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="STDERR" />
  </appender> -->

  <logger name="application"   level="WARN" />
  <logger name="controllers"   level="DEBUG" />
  <logger name="models"        level="DEBUG" />
  <logger name="repositories"  level="DEBUG" />
  <logger name="notifications" level="DEBUG" />
  <logger name="LoggingFilter" level="DEBUG" />
  <logger name="com.flurdy"          level="INFO" />
  <logger name="com.flurdy.wishlist" level="INFO" />

  <!-- Off these ones as they are annoying, and anyway we manage configuration ourselves -->
  <logger name="com.avaje.ebean.config.PropertyMapLoader" level="OFF" />
  <logger name="com.avaje.ebeaninternal.server.core.XmlConfigLoader" level="OFF" />
  <logger name="com.avaje.ebeaninternal.server.lib.BackgroundThread" level="OFF" />
  <logger name="com.gargoylesoftware.htmlunit.javascript" level="OFF" />

  <logger name="org.jdbcdslog" level="WARN" />
  <logger name="com.zaxxer.hikari" level="WARN" />
  <logger name="com.google.inject" level="WARN" />

  <logger name="net.sf.ehcache" level="WARN" />
  <logger name="io.netty" level="WARN" />
  <logger name="org.asynchttpclient.netty" level="WARN" />


  <logger name="play" level="WARN" />
  <logger name="akka" level="WARN" />

  <root>
    <appender-ref ref="ASYNCSTDOUT" />
    <!-- <appender-ref ref="ASYNCSTDERR" /> -->
  </root>

</configuration>
