@(recipient:Recipient)(implicit flash:Flash, currentRecipient: Option[Recipient])

@import helper._

@nautical("edit recipient " + recipient.username) {
	<li><a href="@routes.RecipientController.showProfile(recipient.username)">recipient</a></li>
}{

	
	<div id="list-wishlists-page">

		<h4>Edit recipient: @recipient.username</h4>

        @if(currentRecipient.isDefined && recipient == currentRecipient.get){

        <div class="well" >
            <div class="control-group">
                <div class="buttons">
                    <a class="btn btn-danger input-medium" href="@routes.RecipientController.showDeleteRecipient(recipient.username)">delete recipient</a>
                </div>
            </div>
        </div>

         }



    </div>

}
