@(recipient:Recipient,editRecipientForm:Form[(String,String,Option[String],String)])(implicit flash:Flash, currentRecipient: Option[Recipient])

@import helper._

@nautical("edit recipient " + recipient.username) {
	<li><a href="@routes.RecipientController.showProfile(recipient.username)">recipient</a></li>
}{


    @flash.get("message").map { message =>
        <p class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">×</button>
            @message
        </p>
    }

    @flash.get("messageWarning").map { message =>
        <p class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">×</button>
            @message
       </p>
    }

@for(error <- editRecipientForm.errors){
    <p class="alert alert-error">
        @error.message: @error.key
    </p>
    }


    <div id="list-wishlists-page">

		<h3>Edit recipient</h3>


        <div class="well" >
            @form(action = routes.RecipientController.updateRecipient(recipient.username), 'class -> "form-horizontal"){
            <input type="hidden" name="oldusername" value="@editRecipientForm("oldusername").value"/>
            <div class="control-group">
                <label class="control-label" for="inputUsername">Username</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="inputUsername" name="username" placeholder="" value="@editRecipientForm("username").value" readonly="readonly" title="Contact support to change username"/>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputFullname">Full name</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="inputFullname" name="fullname" placeholder="" value="@editRecipientForm("fullname").value"/>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputEmail">Email</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="inputEmail" name="email" placeholder="" value="@editRecipientForm("email").value"/>
                </div>
            </div>

            <div class="control-group">
                <div class="buttons">
                    <button class="btn btn-warning input-medium">update recipient</button>
                </div>
            </div>

            }



        </div>

        <div class="well" >
            <div class="control-group">
                <div class="buttons">
                    <a class="btn btn-danger input-medium" href="@routes.RecipientController.showDeleteRecipient(recipient.username)">delete recipient</a>
                </div>
            </div>
        </div>



    </div>

}
