@(passwordForm:Form[(String,String)])(implicit flash:Flash, currentRecipient:Option[Recipient])

@import helper._ 

@nautical("reset password") {
	<li><a href="@routes.Application.showLoginForm">login</a>
        <span class="divider">/</span></li>
	<li>password</li>
}{
	<div id="password-reset-page">
	    
		<h2>Reset password</h2>



	    @for(error <- passwordForm.errors){
	    <p class="alert alert-error">
	    	<button type="button" class="close" data-dismiss="alert">×</button>
	        @error.message: @error.key
	    </p>
	    }

		<div class="well">	
			@form(action = routes.RecipientController.resetPassword, 'class -> "form-horizontal") {
				<div class="control-group" id="username-row">
    				<label class="control-label" for="inputUsername">Username</label>
					<div class="controls"> 
						<input type="text" class="input-xlarge" id="inputUsername" name="username" placeholder="Your username" value="@passwordForm("username").value"/>
					</div>
				</div>
				<div class="control-group">
    				<label class="control-label" for="inputEmail">Email address</label>
					<div class="controls"> 
						<input type="text" class="input-xlarge" id="inputEmail" name="email" placeholder="Your email address" value="@passwordForm("email").value"/>
					</div>
				</div>
				<div class="control-group">
					<div class="controls" id="buttons-row">
						<button type="submit" class="btn btn-primary input-medium">reset password</button>
					</div>
				</div>
			}
		</div>

		<div class="well">
			<p>
				Any further problems, please <a href="@routes.Application.contact">contact support</a>
			</p>
		</div>

	
	</div>


    
}