@(passwordForm:Form[(String,String,String)])(implicit flash:Flash, currentRecipient:Option[Recipient], analyticsDetails: Option[String])

@import helper._ 

@nautical("change password") {
	<li><a href="@routes.Application.showLoginForm">login</a>
        <span class="divider">/</span></li>
	<li>password</li>
}{
	<div id="password-change-page">
	    
		<h2>Change password</h2>



	    @for(error <- passwordForm.errors){
	    <p class="alert alert-error">
	    	<button type="button" class="close" data-dismiss="alert">×</button>
	        @error.message: @error.key
	    </p>
	    }

		<div class="well">	
			@form(action = routes.RecipientController.updatePassword(currentRecipient.get.username), 'class -> "form-horizontal") {
				<div class="control-group">
   				<label class="control-label" for="inputPassword">Current password</label>
					<div class="controls"> 
						<input type="password" class="input-large" id="inputPassword" name="password" placeholder="Your current password" value="@passwordForm("password").value"/>
					</div>
				</div>
				<div class="control-group">
   				<label class="control-label" for="inputPassword">New password</label>
					<div class="controls"> 
						<input type="password" class="input-large" id="inputPassword" name="newpassword" placeholder="Your new password" value="@passwordForm("newpassword").value"/>
					</div>
				</div>
				<div class="control-group">
   				<label class="control-label" for="inputPasswordConfirm">Confirm new password</label>
					<div class="controls"> 
						<input type="password" class="input-large" id="inputPasswordConfirm" name="confirm" placeholder="Your new password again" value="@passwordForm("confirm").value"/>
					</div>
				</div>
				<div class="control-group">
					<div class="controls" id="buttons-row">
						<button type="submit" class="btn btn-warning input-medium">change password</button>
					</div>
				</div>
			}
		</div>
	
	</div>


    
}