@(recipient:Recipient,wishlists:Seq[Wishlist],createWishlistForm:Form[(String,Option[String])],gravatarUrl:String)(implicit flash:Flash, currentRecipient: Option[Recipient], analyticsDetails: Option[String])

@import helper._

@nautical("recipient " + recipient.username) {
	<li><a href="@routes.RecipientController.showProfile(recipient.username)">recipient</a></li>
}{


	<div id="profile-page">


		<h4>Recipient: @recipient.username</h4>

		<img class="gravatar img-rounded" src="@gravatarUrl" title="Avatar of @recipient.username from Gravatar.com"/>

		@recipient.fullname.map { fullname =>
		 	@if(fullname.length() > 1 ){
				<h4>Full name: @recipient.fullname</h4>
			}
		}
		

		<div class="well" id="wishlist-list">

            <h4>Wishlists</h4>
			<table class="table table-striped table-hover">
				<tbody>
				@for(wishlist <- wishlists){
					<tr>
						<td>
							<a href="@routes.WishController.showWishlist(wishlist.recipient.username,wishlist.wishlistId.get)">@wishlist.title</a>
						</td>
					</tr>
				}
				</tbody>
			</table>
		</div>



        @if(currentRecipient.isDefined && recipient == currentRecipient.get){

        <div class="well" >

			@form(action = routes.WishController.createWishlist(currentRecipient.get.username), 'class -> "form-inline"){
				<input type="text" class="input-xlarge" placeholder="Title of new wishlist" name="title" value="@createWishlistForm("title").value"/>
				<button type="submit" class="btn btn-info input-small">create</button> 	
			}

		</div>


        <div class="well" >
            <div class="control-group">
                <div class="buttons">
                    <a class="btn btn-warning input-medium" href="@routes.RecipientController.showEditRecipient(recipient.username)">edit recipient</a>
                </div>
            </div>
        </div>

         }



    </div>

}
