#{extends 'nautical-grid.html' /}
#{set title:'Wishlist@sf.net' /}


<h3>Users</h3>
<div>
    <ul>
    #{list users, as:'user'}
        <li><a href="@{WishController.listWishlists(user.username)}">${user.username}</a></li>
    #{/list}
    </ul>
</div>


<h3>Wishlists</h3>
<div>
    <ul>
    #{list wishlists, as:'wishlist'}
        <li><a href="@{WishController.showWishlist(wishlist.recipient.username,wishlist.id)}">${wishlist.title}</a> for ${wishlist.recipient.fullname}</li>
    #{/list}
    </ul>
</div>
