@(editWishlistForm: Form[(String,Option[String])], errorMessage: Option[String] = None)(implicit flash: Flash, currentRecipient: Option[Recipient], analyticsDetails: Option[AnalyticsDetails])

@import helper._

@nautical("") {
	<li><wishlist</li>
}{

	<div>

	    @for(error <- editWishlistForm.errors){
   	    <p class="alert alert-error">
   	    	<button type="button" class="close" data-dismiss="alert">×</button>
   	        @error.message: @error.key
   	    </p>
	    }

	    @for(error <- errorMessage){
   	    <p class="alert alert-error">
   	    	<button type="button" class="close" data-dismiss="alert">×</button>
   	        @error
   	    </p>
	    }


		<div class="well" >

			@form(action = routes.WishlistController.createWishlist(currentRecipient.get.username), 'class -> "form-horizontal"){

				<div class="control-group">
    				<label class="control-label" for="inputTitle">Title</label>
					<div class="controls">
						<input type="text" class="input-xlarge" id="inputTitle" name="title" placeholder="Title of wishlist" value="@editWishlistForm("title").value"/>
					</div>
				</div>

				<div class="control-group">
    				<label class="control-label" for="inputDescription">Description</label>
					<div class="controls">
						<textarea class="input-xlarge" id="inputDescription" name=" description" placeholder="Describe wishlist" rows="6">@editWishlistForm("description").value</textarea>
					</div>
				</div>


				<div class="control-group">
					<div class="controls" id="buttons-row">
						<button type="submit" class="btn btn-success input-small">create</button>
    <a class="btn btn-inverse input-small" href="@routes.Application.index()">cancel</a>

					</div>
				</div>
			}
		</div>
	</div>

}
