@(wishlist: Wishlist)(implicit flash: Flash, currentRecipient: Option[Recipient], analyticsDetails: Option[AnalyticsDetails])

@import helper._

@nautical(" delete: " + wishlist.title) {
	<li><a href="@routes.WishlistController.showWishlist(wishlist.recipient.username,wishlist.wishlistId.get)">wishlist</a></li>
}{

	<div>

		<h3>Delete wishlist</h3>

		<div class="well" >

			<div>

				<h4>Title: @wishlist.title</h4>
				<p>Please confirm you want to delete this wishlist</p>

			</div>

			<br/>
			<br/>

			@form(action = routes.WishlistController.alsoDeleteWishlist(wishlist.recipient.username,wishlist.wishlistId.get), 'class -> "form-horizontal"){

				<div class="control-group">
<!--					<div class="controls" id="buttons-row">
				-->		<button type="submit" class="btn btn-danger input-medium">delete wishlist</button>

				    	<a class="btn btn-info input-small" href="@routes.WishlistController.showWishlist(wishlist.recipient.username,wishlist.wishlistId.get)">cancel</a>
<!--
					</div>
	-->			</div>
			}
		</div>



	</div>

}
