@(wishlist:Wishlist,wishes:Seq[Wish],editWishlistForm:Form[(String,Option[String])],addWishForm:Form[String])(implicit flash:Flash, currentRecipient: Option[Recipient])

@import helper._

@nautical("") {
	<li><a href="@routes.WishController.showWishlist(wishlist.recipient.username,wishlist.wishlistId.get)">wishlist</a></li>
}{
	
	<div>



	    @flash.get("message").map { message =>
	    <p class="alert alert-info">
	    	 <button type="button" class="close" data-dismiss="alert">×</button>
	        @message
	    </p>
	    }

	    @for(error <- editWishlistForm.errors){
	    <p class="alert alert-error">
	        @error.message: @error.key
	    </p>
	    }
	    


		

		<div class="well" >

			@form(action = routes.WishController.updateWishlist(wishlist.recipient.username,wishlist.wishlistId.get), 'class -> "form-horizontal"){

				<div class="control-group">
    				<label class="control-label" for="inputTitle">Title</label>
					<div class="controls"> 
						<input type="text" class="input-xlarge" id="inputTitle" name="title" placeholder="Title of wishlist" value="@editWishlistForm("title").value"/>
					</div>
				</div>

				<div class="control-group">
    				<label class="control-label" for="inputDescription">Description</label>
					<div class="controls"> 
						<textarea class="input-xlarge" id="inputDescription" name=" description" placeholder="Describe wishlist if required" rows="6">@editWishlistForm("description").value</textarea>
					</div>
				</div>


				<div class="control-group">
					<div class="controls" id="buttons-row">
						<button type="submit" class="btn btn-success input-small">update</button>
    <a class="btn btn-inverse input-small" href="@routes.WishController.showWishlist(wishlist.recipient.username,wishlist.wishlistId.get)">view</a>

					</div>
				</div>
			}

		</div>


		@if(wishes.size>0){

		<div class="well" id="wishlist-wishes">

			<h4>Wishes</h4>

			<table class="table table-striped">
			<!--
				<thead>
					<tr>
						<th></th>
					</tr>
				</thead>
			-->
				<tbody>
					@for(wish <- wishes){
						<tr>
							<td>@wish.title</td>
							<td>
								@form(action = routes.WishController.deleteWishFromWishlist(wishlist.recipient.username,wishlist.wishlistId.get,wish.wishId.get), 'class -> "form-inline"){
									<button type="submit" class="btn btn-warning btn-mini">delete wish</button>
								}<!--
								@form(action = routes.WishController.deleteWishFromWishlist(wishlist.recipient.username,wishlist.wishlistId.get,wish.wishId.get), 'class -> "form-inline"){
									<button type="submit" class="btn btn-warning btn-mini">edit wish</button>
								}-->
							</td>
						</tr>
						@if(wish.description.isDefined){
							<tr>
								<td>@wish.description</td>
							</tr>
						}
					}
				</tbody>
			</table>
		</div>
		}

		

		<div class="well" >
			@form(action = routes.WishController.addWishToWishlist(wishlist.recipient.username,wishlist.wishlistId.get), 'class -> "form-inline"){
				<input type="text" class="input-large" name="title" placeholder="New wish title" value="@addWishForm("title").value"/>
				<button class="btn btn-success input-medium" type="submit">add wish</button>
			}
		</div>


		

		<div class="well" >

			@form(action = routes.WishController.showConfirmDeleteWishlist(wishlist.recipient.username,wishlist.wishlistId.get), 'class -> "form-horizontal"){
				<div class="control-group">
					<div class="controls" id="buttons-row">
						<button type="submit" class="btn btn-danger input-medium">delete wishlist</button>
					</div>
				</div>
			}

		</div>


	
	</div>

}