@(wishlist:Wishlist,wishes:Seq[Wish],editWishlistForm:Form[(String,Option[String])])(implicit flash:Flash, currentRecipient: Option[Recipient], analyticsDetails: Option[String])

@import helper._

@nautical("") {
	<li><a href="@routes.WishController.showWishlist(wishlist.recipient.username,wishlist.wishlistId.get)">wishlist</a></li>
}{
	
	<div>




	    @for(error <- editWishlistForm.errors){
	    <p class="alert alert-error">
	    	<button type="button" class="close" data-dismiss="alert">×</button>
	        @error.message: @error.key
	    </p>
	    }
	    


		

		<div class="well" >

			@form(action = routes.WishController.updateWishlist(wishlist.recipient.username,wishlist.wishlistId.get), 'class -> "form-horizontal"){

				<div class="control-group">
    				<label class="control-label" for="inputTitle">Title</label>
					<div class="controls"> 
						<input type="text" class="input-xlarge" id="inputTitle" name="title" placeholder="Title of wishlist" value="@editWishlistForm("title").value"/>
					</div>
				</div>

				<div class="control-group">
    				<label class="control-label" for="inputDescription">Description</label>
					<div class="controls"> 
						<textarea class="input-xlarge" id="inputDescription" name="description" placeholder="Describe wishlist if required" rows="6">@editWishlistForm("description").value</textarea>
					</div>
				</div>



				<div class="control-group">
					<div class="controls" id="buttons-row">
						<button type="submit" class="btn btn-success">update wishlist</button>
    <a class="btn btn-inverse" href="@routes.WishController.showWishlist(wishlist.recipient.username,wishlist.wishlistId.get)">show wishlist</a>

					</div>
				</div>
			}

		</div>



		<div class="well" >

			@form(action = routes.WishController.showConfirmDeleteWishlist(wishlist.recipient.username,wishlist.wishlistId.get), 'class -> "form-horizontal"){
				<div class="control-group">
					<div class="controls" id="buttons-row">
						<button type="submit" class="btn btn-danger input-medium">delete wishlist</button>
					</div>
				</div>
			}

		</div>


	
	</div>

}