@(wishlist: Wishlist, editWishlistForm: Form[(String,Option[String])], organisers: Seq[Recipient], addOrganiserForm: Form[(String,Int,String)])(implicit flash: Flash, currentRecipient: Option[Recipient], analyticsDetails: Option[String])

@import helper._

@nautical("") {
	<li><a href="@routes.WishlistController.showWishlist(wishlist.recipient.username,wishlist.wishlistId.get)">wishlist</a></li>
}{
	
	<div>

	    @for(error <- editWishlistForm.errors){
	    <p class="alert alert-error">
	    	<button type="button" class="close" data-dismiss="alert">×</button>
	        @error.message: @error.key
	    </p>
	    }

	    @for(error <- addOrganiserForm.errors){
	    <p class="alert alert-error">
	    	<button type="button" class="close" data-dismiss="alert">×</button>
	        @error.message
	    </p>
	    }

		<div class="well" >

			@form(action = routes.WishlistController.updateWishlist(wishlist.recipient.username,wishlist.wishlistId.get), 'class -> "form-horizontal"){

				<div class="control-group">
    				<label class="control-label" for="inputTitle">Title</label>
					<div class="controls"> 
						<input type="text" class="input-xlarge" id="inputTitle" name="title" placeholder="Title of wishlist" maxlength="50" value="@editWishlistForm("title").value"/>
					</div>
				</div>

				<div class="control-group">
    				<label class="control-label" for="inputDescription">Description</label>
					<div class="controls"> 
						<textarea class="input-xlarge" id="inputDescription" name="description" placeholder="Describe wishlist if required" rows="6">@editWishlistForm("description").value</textarea>
					</div>
				</div>


				<div class="control-group">
					<div class="controls" id="buttons-row">
						<button type="submit" class="btn btn-success">update wishlist</button>
    <a class="btn btn-inverse" href="@routes.WishlistController.showWishlist(wishlist.recipient.username,wishlist.wishlistId.get)">show wishlist</a>

					</div>
				</div>
			}

		</div>


			<div class="well" >

				<h4>Organisers</h4>

		@if(organisers.size>0){
				<ul id="organiser-list" class="unstyled">									
					@for(organiser <- organisers){	                    
						<li>
							@form(action = routes.WishlistController.removeOrganiserFromWishlist(wishlist.recipient.username,wishlist.wishlistId.get,organiser.username), 'class -> "form-inline"){
								<a href="@routes.RecipientController.showProfile(organiser.username)">@organiser.username</a>
								<button type="submit" class="btn btn-warning btn-small">remove organiser</button>								
							}
						</li>
					}	
				</ul>
		}
		</div>



			<div class="well" >

			@form(action = routes.WishlistController.addOrganiserToWishlist(wishlist.recipient.username,wishlist.wishlistId.get), 'class -> "form-inline"){
				<input type="hidden" name="wishlistid" value="@wishlist.wishlistId.get"/>
				<input type="hidden" name="recipient" value="@currentRecipient.get.username"/>
				<input type="text" class="input-large" name="username" placeholder="Organiser's username" value="@addOrganiserForm("username").value"/>
				<button type="submit" class="btn btn-success input-medium">add organiser</button>
			}

			</div>


		<div class="well" >

			@form(action = routes.WishlistController.showConfirmDeleteWishlist(wishlist.recipient.username,wishlist.wishlistId.get), 'class -> "form-horizontal"){
				<div class="control-group">
					<div class="controls" id="buttons-row">
						<button type="submit" class="btn btn-danger input-medium">delete wishlist</button>
					</div>
				</div>
			}

		</div>
	</div>
}
