@(wishlist: Wishlist, wish: Wish, editor: Boolean)(implicit currentRecipient: Option[Recipient])


@import helper._

@titleCapper(title:String,description:Option[String]) = {
	@description match {
		case Some(actualDescription) => {
			@if(title.length>40){
				@title.substring(0,40) ..
			} else {
				@title
			}
		}
		case None => {
			@if(title.length>50){
				@title.substring(0,50) ..
			} else {
				@title
			}
		}
	}
}

@descriptionCapper(title:String,description:Option[String]) = {
	@description.map { actualDescription =>
		@if(title.length + actualDescription.length > 50){
			@if(title.length>40 && actualDescription.length>10){
				@actualDescription.substring(0,10) ..
			} else {
				@actualDescription.substring(0,50-title.length) ..
			}
		} else {
			@actualDescription
		}
	}
}

<li id="wish-row-@wish.wishId.get" class="wish-row">

		 @if(editor){
		 	<i class="icon-resize-vertical pull-right"></i>
		 }
		@if(currentRecipient.isDefined && !wishlist.recipient.isSame(currentRecipient.get) && wish.reservation.isDefined){
			<div class="reserved">reserved</div>
			<s><a href="#wishModal-@wish.wishId.get" role="button" class="" data-toggle="modal">@titleCapper(wish.title,wish.description)</a></s> &nbsp;&nbsp; <small class="wish-description" class="muted"><a href="#wishModal-@wish.wishId.get" role="button" class="" data-toggle="modal"><s>@descriptionCapper(wish.title,wish.description)</s></a><small>
		} else {
			<a href="#wishModal-@wish.wishId.get" role="button" class="" data-toggle="modal">@titleCapper(wish.title,wish.description)</a> &nbsp;&nbsp; <small class="wish-description" class="muted"><a href="#wishModal-@wish.wishId.get" role="button" class="" data-toggle="modal">@descriptionCapper(wish.title,wish.description)</a></small>
		}

</li>
