@(wishlist:Wishlist,wish:Wish,editor:Boolean)(implicit currentRecipient: Option[Recipient])


@import helper._

<li id="wish-row-@wish.wishId.get">

		@if(currentRecipient.isDefined && wishlist.recipient != currentRecipient.get && wish.reservation.isDefined){
			<div class="reserved">reserved</div>
			<s><a href="#wishModal-@wish.wishId.get" role="button" class="" data-toggle="modal">@wish.title</a></s> &nbsp;&nbsp; <s><small class="muted">@wish.description</small></s>
		} else {
			<a href="#wishModal-@wish.wishId.get" role="button" class="" data-toggle="modal">@wish.title</a> &nbsp;&nbsp; <small class="muted">@wish.description</small>
		}
	

		 @if(editor){
		 	<i class="icon-resize-vertical pull-right"></i>
		 }

</li>