@(wishlist:Wishlist,wishes:Seq[Wish],addWishForm:Form[String])(implicit flash:Flash, currentRecipient: Option[Recipient])

@import helper._
@import wishlist._

@nautical(wishlist.title) {
	<li><a href="@routes.WishController.showWishlist(wishlist.recipient.username,wishlist.wishlistId.get)">wishlist</a></li>
}{
	
	<div id="view-wishlist-page">


        @for(error <- addWishForm.errors){
        <p class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            @error.message: @error.key
        </p>
        }



        <div class="well" >
		
			<h3>@wishlist.title</h3>
		
			<p>A wishlist for <a href="@routes.RecipientController.showProfile(wishlist.recipient.username)">@wishlist.recipient.username</a></p>

			<p>@wishlist.description</p>


		</div>



		@if(wishes.size>0){

		<div class="well" id="wishlist-wishes">




			<h4>Wishes</h4>
			<table class="table table-striped">
				<tbody>
					@for(wish <- wishes){
                        @showwish(wishlist,wish)
					}
				</tbody>
			</table>
		</div>

		}


	@if(currentRecipient.isDefined && wishlist.recipient == currentRecipient.get){
		<div class="well" >
			@form(action = routes.WishController.addWishToWishlist(wishlist.recipient.username,wishlist.wishlistId.get), 'class -> "form-inline"){
				<input type="text" class="input-large" name="title" placeholder="New wish title" value="@addWishForm("title").value"/>
				<button class="btn btn-success input-medium" type="submit">add wish</button>
			}
		</div>



		<div class="well" >
			<div class="control-group">
				<div class="buttons">
					<a class="btn btn-warning input-small" href="@routes.WishController.showEditWishlist(wishlist.recipient.username,wishlist.wishlistId.get)">edit wishlist</a>
				</div>
			</div>
		</div>

        }

	
	</div>

<style>
    .over-inline {
        background-color: #FFFACD;
    }

    body .active-inline {
        background-color: inherit;
    }
</style>
<script type="text/javascript">
    $(document).ready(function(){

        $(".editable, .editable-area")
            .hover(function() {
                $(this).find(':first-child:input').toggleClass("over-inline");
            })
            .click(function(e) {
                var $editableContainer = $(this);
                var $editable = $editableContainer.find('span');
                if($editable.hasClass('active-inline')){
                    return;
                }
                var contents = $.trim($editable.html());
                $editable
                    .addClass("active-inline")
                    .empty();
                var editElement = $editableContainer.hasClass('editable')
                    ? '<input type="text" name="title" class="input-xlarge" ∕>'
                    : '<textarea name="description" class="input-xlarge" rows="4"></textarea>';
                $(editElement)
                    .val(contents)
                    .appendTo($editable)
                    .focus()
                    .blur(function(e) {
                        $editable.trigger('blur');
                    });
            });

        $(".editable span, .editable-area span")
            .blur(function(e) {
                var $editable = $(this);
                var contents = $editable.find(':first-child:input').val();
                $editable
                    .removeClass('active-inline')
                    .contents()
                    .replaceWith(contents);
            });

        $(".modal .update-wish-form")
            .submit(function(e) {
                e.preventDefault();
                var wishId = $('input[name="wishId"]',this).val();
                var title = $.trim($('.modal-header .editable span',this).html());
                var description = $.trim($('.modal-body span',this).html());
                $('input[name="title"]',this).val(title);
                $('input[name="description"]',this).val(description);
                this.submit();
            });

    });
</script>



}