@(wishlist:Wishlist,wish:Wish)(implicit currentRecipient: Option[Recipient])


@import helper._

<tr>

	<td>
		<a href="#wishModal-@wish.wishId.get" role="button" class="" data-toggle="modal">@wish.title</a> &nbsp;&nbsp; <small class="muted">@wish.description</small>


		<div class="modal hide fade" id="wishModal-@wish.wishId.get" tabindex="-1" role="dialog" aria-labelledby="wishModalLabel-@wish.wishId.get" aria-hidden="true">
		    @if(currentRecipient.isDefined && wishlist.recipient == currentRecipient.get){
		        @form(action = routes.WishController.updateWish(wishlist.recipient.username,wishlist.wishlistId.get,wish.wishId.get), 'class -> "form-inline update-wish-form" ){
		            <input type="hidden" name="wishId" value="@wish.wishId.get"/>
		            <input type="hidden" name="title" value="@wish.title"/>
		            <input type="hidden" name="description" value="@wish.description"/>
		            <div class="modal-header well">
		                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		                <h3 id="wishModalLabel-@wish.wishId.get" class="editable"><span>@wish.title</span> <i class="icon-pencil"></i></h3>
		            </div>
		            <div class="modal-body editable-area">
		                    <i class="icon-pencil pull-right"></i>
		                    <span>@wish.description</span>
		            </div>
		            <div class="modal-footer">
		                <button class="btn btn-small input-small btn-inverse" data-dismiss="modal" aria-hidden="true">cancel</button>
		                <button class="btn btn-success input-small btn-small" type="submit">update wish</button>
		        }
		        @form(action = routes.WishController.deleteWishFromWishlist(wishlist.recipient.username,wishlist.wishlistId.get,wish.wishId.get), 'class -> "form-inline"){
		                <button type="submit" class="btn btn-danger input-small btn-small">delete wish</button>
		        }
		            </div>
		    } else {
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		        <h3 id="wishModalLabel-@wish.wishId.get"><span>@wish.title</span></h3>
		      </div>
		      <div class="modal-body">
		            <p>@wish.description</p>
		      </div>
		        <div class="modal-footer">
		            <button class="btn btn-small input-small btn-inverse" data-dismiss="modal" aria-hidden="true">cancel</button>
		        </div>
		    }
		</div>

	</td>
</tr>