@(wishlist:Wishlist,wishes:Seq[Wish],addWishForm:Form[String],gravatarUrl:String)(implicit flash:Flash, currentRecipient: Option[Recipient], analyticsDetails: Option[String])

@import helper._
@import wishlist._

@nautical(wishlist.title) {
	<li><a href="@routes.WishController.showWishlist(wishlist.recipient.username,wishlist.wishlistId.get)">wishlist</a></li>
}{
	
	<div id="view-wishlist-page">


        @for(error <- addWishForm.errors){
        <p class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            @error.message: @error.key
        </p>
        }



        <div class="well" >
			
			<img class="gravatar img-rounded" src="@gravatarUrl" title="Avatar of @wishlist.recipient.username from Gravatar.com"/>
		
			<h3>@wishlist.title</h3>

		
			<p>A wishlist by <a href="@routes.RecipientController.showProfile(wishlist.recipient.username)">@wishlist.recipient.username</a></p>

			<p>@wishlist.description</p>


		</div>



		@if(wishes.size>0){

		<div class="well" id="wishlist-wishes">

			<h4>Wishes</h4>

			<ul id="wish-list" class="unstyled sortable">				
				@for(wish <- wishes){
                    @showwish(wishlist,wish,false)
				}				
			</ul>

		</div>
            @for(wish <- wishes){
                @wishmodal(wishlist,wish)
            }

		}

	</div>


}