@(wishlist:Wishlist,wish:Wish)(implicit currentRecipient: Option[Recipient])


@import helper._

@titleCapper(toBeCapped:String) = {
    @if(toBeCapped.length>60){
        @toBeCapped.substring(0,60) ...
    } else {
        @toBeCapped
    }
}

<div class="modal hide fade wish-modal" id="wishModal-@wish.wishId.get" tabindex="-1" role="dialog" aria-labelledby="wishModalLabel-@wish.wishId.get" aria-hidden="true">

    <div class="modal-header wish-read">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="wishModalLabel-@wish.wishId.get"><span>@titleCapper(wish.title)</span></h3>
    </div>
    <div class="modal-body wish-read well">
        <p>@wish.description</p>
    </div>
    @if(!wish.links.isEmpty){
    <div class="modal-links wish-read well">
        <ul class="read-links unstyled">
            @wish.links.map { url =>
                <li><a href="@url">@url</a></li>
            }
        </ul>
    </div>
    }
    <div class="modal-footer">
        <button class="wish-read btn btn-small input-small btn-inverse" data-dismiss="modal" aria-hidden="true" type="button">close</button>
        @if(currentRecipient.isDefined){
            @if(wish.reservation.isDefined){
                @if(wish.reservation.get.isReserver(currentRecipient.get) ){
                    @form(action = routes.WishController.unreserveWish(wishlist.recipient.username,wishlist.wishlistId.get,wish.wishId.get), 'class -> "form-inline" ){
                        <button class="btn btn-small btn-warning reserve-button" type="submit">cancel reservation</button>
                    }
                }
            } else {
                @form(action = routes.WishController.reserveWish(wishlist.recipient.username,wishlist.wishlistId.get,wish.wishId.get), 'class -> "form-inline" ){
                    <button class="btn btn-small btn-primary input-small reserve-button" type="submit">reserve</button>
                }
            }
        } else {
            <a class="btn btn-small btn-primary input-small reserve-button" href="@routes.LoginController.showLoginForm">reserve</a>
        }
    </div>
</div>
