@(wishlist:Wishlist,wish:Wish)(implicit currentRecipient: Option[Recipient])

@import helper._

@titleCapper(toBeCapped:String) = {
    @if(toBeCapped.length>30){
        @toBeCapped.substring(0,30) ...
    } else {
        @toBeCapped
    }
}

<div class="modal hide fade wish-modal" id="wishModal-@wish.wishId.get" tabindex="-1" role="dialog" aria-labelledby="wishModalLabel-@wish.wishId.get" aria-hidden="true">

    <div class="modal-header wish-read">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="wishModalLabel-@wish.wishId.get"><span>@titleCapper(wish.title)</span></h3>
    </div>
    <div class="modal-body wish-read well">
        <p>@wish.description</p>
    </div>
    <div class="modal-links wish-read">
        <ul class="unstyled">
            <li><a href="#">blah.blah.com/blah.html</a></li>
            <li><a href="#">blah.blah.com/blah.html</a></li>
            <li><a href="#">blah.blah.com/blah.html</a></li>
        </ul>
    </div>

    @form(action = routes.WishController.updateWish(wishlist.recipient.username,wishlist.wishlistId.get,wish.wishId.get), 'class -> "form-inline update-wish-form" ){

        <input type="hidden" name="wishId" value="@wish.wishId.get"/>
        <div class="modal-header wish-edit noshow">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <input type="text" name="title" class="input-xlarge" placeholder="Wish title" value="@wish.title" maxlength="50"/>
        </div>
        <div class="modal-body wish-edit noshow">
            <textarea name="description" class="input-xlarge" rows="5" placeholder="Describe wish if necessary">@wish.description</textarea>
        </div>

        <div class="modal-footer wish-edit noshow">
            <button class="wish-update-button wish-edit noshow btn btn-success input-small btn-small" type="submit">update wish</button>
        </div>
    }
        <div class="modal-footer wish-read">
            <button class="wish-read btn btn-small input-small btn-inverse" data-dismiss="modal" aria-hidden="true" type="button">close</button>
            @if(wishlist.recipient != currentRecipient.get){
                @if(wish.reservation.isDefined && wish.reservation.get.isReserver(currentRecipient.get) ){
                    @form(action = routes.WishController.unreserveWish(wishlist.recipient.username,wishlist.wishlistId.get,wish.wishId.get), 'class -> "form-inline" ){
                            <button class="btn btn-small wish-read btn-warning reserve-button" type="submit">cancel reservation</button>
                    }
                } else {
                    @form(action = routes.WishController.reserveWish(wishlist.recipient.username,wishlist.wishlistId.get,wish.wishId.get), 'class -> "form-inline" ){
                            <button class="btn btn-small wish-read btn-primary input-small reserve-button" type="submit">reserve</button>
                    }
                }
            }
            <button class="wish-edit-button wish-read btn btn-warning input-small btn-small" type="button">edit wish</button>
        </div>

        <div class="modal-footer wish-edit noshow">
            <div class="modal-links wish-edit noshow">
                <ul class=" unstyled">
                    <li><a href="#">blah.blah.com/blah.html</a>
                        @form(action = routes.WishController.deleteLinkFromWish(wishlist.recipient.username,wishlist.wishlistId.get,wish.wishId.get,1L), 'class -> "form-inline wish-edit noshow"){
                            <button type="submit" class="wish-edit noshow btn btn-warning input-small btn-mini">remove link</button>
                        }
                    </li>
                    <li><a href="#">blah.blah.com/blah.html</a>
                        @form(action = routes.WishController.deleteLinkFromWish(wishlist.recipient.username,wishlist.wishlistId.get,wish.wishId.get,1L), 'class -> "form-inline wish-edit noshow"){
                            <button type="submit" class="wish-edit noshow btn btn-warning input-small btn-mini">remove link</button>
                        }
                    </li>
                    <li><a href="#">blah.blah.com/blah.html</a>
                        @form(action = routes.WishController.deleteLinkFromWish(wishlist.recipient.username,wishlist.wishlistId.get,wish.wishId.get,1L), 'class -> "form-inline wish-edit noshow"){
                            <button type="submit" class="wish-edit noshow btn btn-warning input-small btn-mini">remove link</button>
                        }
                    </li>
                </ul>
            </div>
            <div class="add-link wish-edit noshow">
                @form(action = routes.WishController.addLinkToWish(wishlist.recipient.username,wishlist.wishlistId.get,wish.wishId.get), 'class -> "form-inline wish-edit noshow"){
                    <button type="submit" class="wish-edit noshow btn btn-success input-small btn-small">add link</button>
                    <input type="text" name="url" class="wish-edit noshow input-large" placeholder="Enter link url e.g. http://www.example.com/someinfo/index.html" maxlength="100" />
                }
            </div>
        </div>

        <div class="modal-footer wish-edit noshow">
            <button class="wish-cancel-button wish-edit noshow btn btn-small input-small btn-inverse" data-dismiss="modal" aria-hidden="true" type="button">cancel</button>
             @form(action = routes.WishController.removeWishFromWishlist(wishlist.recipient.username,wishlist.wishlistId.get,wish.wishId.get), 'class -> "form-inline"){
            <input type="hidden" name="username" value="@currentRecipient.get.username" />
            <button type="submit" class="wish-edit noshow btn btn-danger input-small btn-small">delete wish</button>
            }
        </div>



</div>