@()(implicit flash:Flash, currentDreamer: Option[Dreamer])

@import helper._

@nautical("") {
	
}{
	<style>#jib ul { display: none; }</style>
	<div id="index-page">



	    @flash.get("message").map { message =>
	    <p class="alert alert-info">
	        @message
	    </p>
	    }
	    

		<div class="well" id="search-box">	
			@form(action = routes.Application.search(), 'class -> "form-search", 'method -> "get"){
				<input type="text" class="input-xlarge  search-query" placeholder="Partial title of wishlist or recipient"/>
				<button type="submit" class="btn btn-primary input-small">search</button> 
			}
		</div>
		



	
	</div>

}