
@import helper._ 

@nautical("login") {
	<div id="login-page">
	    
		<h2>Log in</h2>

		<div class="well">	
			@form(action = routes.Application.login(), 'class -> "form-horizontal") {
					<div class="control-group" id="username-row">
    				<label class="control-label" for="inputUsername">Username or<br/> email address</label>
					<div class="controls"> 
						<input type="text" class="input-xlarge" id="inputUsername" placeholder="Your email address or username"/>
					</div>
				</div>
				<div class="control-group">
   				<label class="control-label" for="inputPassword">Password</label>
					<div class="controls"> 
						<input type="password" class="input-xlarge" id="inputPassword" placeholder="Your password"/>
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<button type="submit" class="btn btn-primary input-small">log in</button>
					</div>
				</div>
			}
		</div>

	
	</div>


    
}