@()

@nautical("register") {
	<div id="register-page">
	    
		<h2>Register</h2>

		<div class="well">	
			<form class="form-horizontal">
				<div class="control-group">
    				<label class="control-label" for="inputFullName">Your name</label>
					<div class="controls"> 
						<input type="text" class="input-large" id="inputFullName" placeholder="Your name"/>
					</div>
				</div>
				<div class="control-group">
    				<label class="control-label" for="inputUsername">Username</label>
					<div class="controls"> 
						<input type="text" class="input-large" id="inputUsername" placeholder="Your desired username"/>
					</div>
				</div>
				<div class="control-group">
    				<label class="control-label" for="inputEmail">Email address</label>
					<div class="controls"> 
						<input type="text" class="input-large" id="inputEmail" placeholder="Your email address"/>
					</div>
				</div>
				<div class="control-group">
   				<label class="control-label" for="inputPassword">Password</label>
					<div class="controls"> 
						<input type="password" class="input-large" id="inputPassword" placeholder="Your password"/>
					</div>
				</div>
				<div class="control-group">
   				<label class="control-label" for="inputPasswordConfirm">Confirm password</label>
					<div class="controls"> 
						<input type="password" class="input-large" id="inputPasswordConfirm"  placeholder="Your password again"/>
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<button type="submit" class="btn btn-success input-small">register</button>
					</div>
				</div>
			</form>
		</div>

	
	</div>


    
}