@()(implicit flash:Flash, currentRecipient: Option[Recipient], analyticsDetails: Option[String])

@import helper._

@nautical("about") {
	<li><a href="@routes.Application.about">about</a></li>

}{
	<div id="about-page">

		<h3>About Wish</h3>

		<div class="well">

			<ul class="unstyled">
				<li><s>Old website: <a href="http://wishlist.sourceforge.net">wishlist.sourceforge.net</a></s></li>
				<li>Project website and source: <a href="http://github.com/flurdy/wishlist">github.com/flurdy/wishlist</a></li>
				<li><br/></li>
				<li>Started: 2003</li>
				<li>Version: 7.3</li>
				<li><br/></li>
				<li>License: <a href="http://mo.morsi.org/blog/node/270">Lesser AGPL v3</a></li>
			</ul>
		</div>

		<div class="well">

			<p>
				Summary:
				A place to store and share wish lists
			</p>
			<!-- <p>
				Future plans:
			</p> -->
			<ul>
				<li>Multiple cross referenced lists <i class="icon-ok"></i></li>
				<li>Wish item reservation <i class="icon-ok"></i></li>
			</ul>
		</div>


	</div>
}
