@()(implicit flash:Flash, currentRecipient: Option[Recipient], analyticsDetails: Option[String])

@import helper._

@nautical("about") {
	<li><a href="@routes.Application.about">about</a></li>
	
}{
	<div id="about-page">

		<h3>About Wish</h3>

		<div class="well">

			<ul class="unstyled">	
				<li>Website: <a href="http://wishlist.sourceforge.net">wishlist.sourceforge.net</a></li>
				<li>Project: <s title="Out dated. See Github instead"><a href="http://sourceforge.net/projects/wishlist">sourceforge.net/projects/wishlist</a></s></li>
				<li>Source: <a href="http://github.com/flurdy/wishlist">github.com/flurdy/wishlist</a></li>
				<li>Tasks: <a href="http://pivotaltracker.com/projects/101944">pivotaltracker.com/projects/101944</a></li>
				<li>Wiki: <s title="Lots of information. Mostly out dated"><a href="http://sf.net/apps/mediawiki/wishlist/">sf.net/apps/mediawiki/wishlist/</a></s></li>
				<li><br/></li>
				<li>License: AGPL v3</li>
			</ul>	
		</div>

		<div class="well">

			<p>
				Summary: 
				A place to store and share wish lists 
			</p>
			<p>
				Future plans: 
			</p>
			<ul>
				<li>Multiple cross referenced lists</li>
				<li>Private / public / shielded from recipient(s)</li>
				<li>Wish item reservation</li>
				<li>Wish item collaboration</li>
				<li>Integrate with gift registry</li> 
				<li>Integrate with shopping plans</li>
			</ul>
		</div>


	</div>
}
