@(contactForm:Form[(String,String,Option[String],Option[String],String)])(implicit flash: Flash, currentRecipient: Option[Recipient], analyticsDetails: Option[String])

@import helper._

@nautical("contact") {
	<li><a href="@routes.ContactController.contact">contact</a></li>
}{

	<div id="contact-page">
   <h2>Contact</h2>

	<div class="well">
		<h4>Contact alternatives</h4>
		<p>
		    Submit bugs via the <a href="http://github.com/flurdy/wishlist/issues"> project's issues page</a> on github
      </p>
      <p>
		    Fix bugs via the <a href="https://github.com/flurdy/wishlist/pulls"> project's pull requests</a> on github
		</p>
		<p>
		    Contact <a href="https://flurdy.com/contact/">lead developer</a> directly
		</p>
	</div>


	@for(error <- contactForm.errors){
    <p class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">×</button>
        @error.message: @error.key
    </p>
    }

	@form(action = routes.ContactController.sendContact, 'class -> "form-horizontal"){

		<div class="well">
			<h4>Contact form</h4>
			<fieldset>
				<legend>Your details</legend>
				<div class="control-group">
					<label class="control-label" for="contactName">Name</label>
					<div class="controls">
						<input type="text" class="input-xlarge" id="contactName" name="name" value="@contactForm("name").value" maxlength="200" placeholder="Your name"/>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="contactEmail">Email address</label>
					<div class="controls">
						<input type="text" class="input-xlarge" id="contactEmail" name="email" value="@contactForm("email").value" maxlength="200" placeholder="Your email address"/>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="contactEmail">Username</label>
					<div class="controls">
						<input type="text" class="input-xlarge" id="contactEmail" name="email" value="@currentRecipient.map{ recipient =>@recipient.username}" maxlength="200" placeholder="Your username if registered"/>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend>Message details</legend>
				<div class="control-group">
					<label class="control-label" for="contactSubject">Subject</label>
					<div class="controls">
						<input type="text" class="input-xlarge" id="contactSubject" name="subject" value="@contactForm("subject").value" maxlength="200" placeholder="The subject of this message "/>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="contactMessage">Message</label>
					<div class="controls">
						<textarea class="input-xlarge" id="contactMessage" name="message" placeholder="Your brief message" rows="12">@contactForm("message").value</textarea>
					</div>
				</div>
			</fieldset>
         <div class="control-group">
             <div class="buttons">
                 <button type="submit" class="btn btn-primary input-medium">send message</button>
             </div>
         </div>
		</div>
   }

      <div class="well">
         <h4>Frequently asked questions</h4>

         <h5>Password reset</h5>
         @form(action = routes.RecipientController.showResetPassword, 'class -> "form-horizontal"){
            <p>
               Please follow<button type="submit" class="btn-link">the password reset instructions.</button>
            </p>
         }

         <h5>Email verification</h5>
         <p>
            Please click on the link in the verification email you should have received.
         </p>
         <p>
            It is the only way to verify your email and does not expire.
         </p>
         <p>
            Wish can <a href="@routes.RecipientController.showResendVerification">send another verification email</a>.
         </p>

         <h5>Products &amp; orders</h5>
         <p>
            <em>Wish</em> does not have any products nor do we sell anything so there are no orders.
            <!-- You may have confused this application with other sites and apps that also have <em>wish</em> as part of their name. -->
         </p>

         <h5>Web design offers</h5>
         <p>
            This is an open source project with $0 income, and no plans to change that.
         </p>
         <p>
            Keep that in mind when contacting about selling web design services.
         </p>
      </div>

   </div>
}
