@(createWishlistForm:Form[(String,Option[String])],wishlists:Seq[Wishlist])(implicit flash:Flash, currentRecipient: Option[Recipient], analyticsDetails: Option[String])

@import helper._

@nautical("") {
	
}{

	<div id="index-page">



	    @for(error <- createWishlistForm.errors){
	    <p class="alert alert-error"><button type="button" class="close" data-dismiss="alert">×</button>
	        @error.message: @error.key
	    </p>
	    }
	    

		<div class="well" id="search-box">	
			@form(action = routes.WishController.search(), 'class -> "form-search", 'method -> "get"){
			<div class="input-append">
				<input type="text" class="input-xlarge  search-query" placeholder="Partial title of wishlist or recipient" name="term"/>
				<button type="submit" class="btn btn-primary input-small">search</button> 
			</div>
			}
		</div>


        <div class="well" id="wishlist-list">

            <h4>@currentRecipient.get.username wishlists</h4>
            <table class="table table-striped table-hover">
                <tbody>
                @for(wishlist <- wishlists){
                <tr>
                    <td>
                        <a href="@routes.WishController.showWishlist(wishlist.recipient.username,wishlist.wishlistId.get)">@wishlist.title</a>
                    </td>
                </tr>
                }
                </tbody>
            </table>
        <!-- </div>


		<div class="well" > -->

			@form(action = routes.WishController.createWishlist(currentRecipient.get.username), 'class -> "form-inline"){
				<input type="text" class="input-xlarge" maxlength="50" placeholder="Title of new wishlist" name="title" value="@createWishlistForm("title").value"/>
				<button type="submit" class="btn btn-info input-small">create</button> 	
			}

		</div>


	
	</div>

}