@(createWishlistForm:Form[String])(implicit flash:Flash, currentDreamer: Option[Dreamer])

@import helper._

@nautical("") {
	
}{
	<style>#jib ul { display: none; }</style>
	<div id="index-page">



	    @flash.get("message").map { message =>
	    <p class="alert alert-info">
	    	 <button type="button" class="close" data-dismiss="alert">×</button>
	        @message
	    </p>
	    }

	    @flash.get("messageWarning").map { message =>
	    <p class="alert alert-warning">
	    	 <button type="button" class="close" data-dismiss="alert">×</button>
	        @message
	    </p>
	    }

	    @for(error <- createWishlistForm.errors){
	    <p class="alert alert-error">
	        @error.message: @error.key
	    </p>
	    }
	    

		<div class="well" id="search-box">	
			@form(action = routes.WishController.search(), 'class -> "form-search", 'method -> "get"){
				<input type="text" class="input-xlarge  search-query" placeholder="Partial title of wishlist or recipient" name="term"/>
				<button type="submit" class="btn btn-primary input-small">search</button> 
			}
		</div>
		

		<div class="well" >

			@form(action = routes.WishController.create(currentDreamer.get.username), 'class -> "form-horizontal"){
				<input type="text" class="input-xlarge" placeholder="Title of new wishlist" name="title" value="@createWishlistForm("title").value"/>
				<button type="submit" class="btn btn-info input-small">create</button> 	
			}

		</div>


	
	</div>

}