@()(implicit flash:Flash, currentDreamer: Option[Dreamer])

@import helper._

@nautical("") {
	<div id="index-page">



	    @flash.get("message").map { message =>
	    <p class="alert alert-info">
	        @message
	    </p>
	    }
	    
	@if( ! currentDreamer ){
	   <div class="well">
			<p>
				<strong>Wishlist</strong> is the place for people keep their wishlist online, <br/>
				&nbsp;&nbsp;&nbsp;&nbsp;
				to easily share their wishes with others, <br/>
				&nbsp;&nbsp;&nbsp;&nbsp;
				and for others to quickly find potential gifts for the recipient.  
			</p>
			<p>
				Read more <a href="http://wishlist.sourceforge.net">about the wishlist project</a>
			</p>
		</div>
	}

		<div class="well" id="search-box">	
			@form(action = routes.Application.search(), 'class -> "form-search", 'method -> "get"){
				<input type="text" class="input-xlarge  search-query" placeholder="Partial title of wishlist or recipient"/>
				<button type="submit" class="btn btn-primary input-small">search</button> 
			}
		</div>
		

	@if( ! currentDreamer ){
		<div class="well" id="register-box">	
			@form(action = routes.Application.redirectToRegisterForm(), 'class -> "form-inline"){
				<input type="text" class="input-xlarge span4" placeholder="Your email address or desired username" name="email"/>
				<button type="submit" class="btn btn-info input-small">register</button> 
			}
		</div>


		<div class="well" id="login-box">
			@form(action = routes.Application.login(), 'class -> "form-horizontal"){	
				<button type="submit" class="btn btn-info input-small">log in</button>
				<div class="control-group">
					<div class="controls"> 
						<input type="text" class="input-xlarge span4" placeholder="Your email address" name="username" />
					</div>
				</div>
				<div class="control-group">
					<div class="controls"> 
						<input type="password" class="input-xlarge span4" placeholder="Your password" name="password"/>
					</div>
				</div>
			}
		</div>
	}
	
	</div>


    
}