@(loginForm:Form[(String,String,Option[String])])(implicit flash:Flash, currentRecipient:Option[Recipient], analyticsDetails: Option[String])

@import helper._

@nautical("login") {
	<li><a href="@routes.LoginController.showLoginForm">login</a></li>
}{
	<div id="login-page">

		<h2>Log in</h2>

	    @if(loginForm.errors){
	    <p class="alert alert-error">
	    	<button type="button" class="close" data-dismiss="alert">×</button>
	        @loginForm.errors(0).message: @loginForm.errors(0).key
	    </p>
	    }

		<div class="well">
			@form(action = routes.LoginController.login(), 'class -> "form-horizontal") {
				<input type="hidden" name="source" value="@loginForm("source").value"/>
				<div class="control-group" id="username-row">
    				<label class="control-label" for="inputUsername">Username</label>
					<div class="controls">
						<input type="text" class="input-xlarge" id="inputUsername" name="username" placeholder="Your username" value="@loginForm("username").value"/>
					</div>
				</div>
				<div class="control-group">
   				<label class="control-label" for="inputPassword">Password</label>
					<div class="controls">
						<input type="password" class="input-xlarge" id="inputPassword" name="password" placeholder="Your password"/>
					</div>
				</div>
            <div class="control-group">
                <div class="controls" id="buttons-row">
                    <button type="submit" class="btn btn-primary input-small">log in</button>
                    @if(!loginForm.errors){
                        <a href="@routes.RegisterController.showRegisterForm" class="btn btn-inverse">register</a>
                    }
                </div>
            </div>
            @if(loginForm.errors){
            <div class="control-group">
                <div class="controls" id="buttons-row">
                    <a href="@routes.RegisterController.showRegisterForm" class="btn btn-inverse">register</a>
                    <a href="@routes.RecipientController.showResendVerification" class="btn btn-inverse">resend verfication</a>
                    <a href="@routes.RecipientController.showResetPassword" class="btn btn-warning">reset password</a>
                </div>
            </div>
            }
            }
		</div>

	</div>

}
