<!DOCTYPE html>
<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/grid.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/site.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/cargo.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.ico'}">
        <script src="@{'/public/javascripts/jquery-1.6.2.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
   *{** #{ifnot request.domain=='localhost'}
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
    #{/ifnot} **}*
    </head>
    <body>
        <div id="ocean" class="structure">
            <div id="fleet" class="structure">
                <div id="regatta" class="structure">
                    <div id="ship" class="structure">
                        <div id="hull" class="structure">
                            <div id="vaka" class="structure">
                                <div id="bow" class="compartment">
                                    <img src="@{'/public/images/wish.gif'}" />
                                    #{ifnot request.domain=='localhost2'}
                                        wishlist.sf.net
                                    #{/ifnot}
                                </div>
                                <div id="lookout" class="compartment">
                                    <ul class="horizontal">
                                        <li><a href="@{Application.index}">Home</a></li>
                                    </ul>
                                </div>
                                <div id="keel" class="structure">
                                    <div id="innerhull" class="structure">
                                        <div id="bulkhead" class="structure">
                                            <div id="ballast" class="structure">
                                                <div id="cargo" class="compartment">

        #{doLayout /}

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="aft" class="compartment">
                                    <ul class="horizontal">
                                        <li><a href="@{Application.about}">About</a></li>
                                        <li><a href="http://wishlist.sourceforge.net">Project</a></li>
                                        <li><a href="@{Application.contact}">Contact</a></li>
                                    </ul>
                                </div>
                                <div id="stern" class="compartment">
                                    <a href="http://flurdy.com" title="By flurdy: open source hobby projects"><img id="flurdyLink"
                                        src="@{'/public/images/flurdy_warped_dual_small.png'}"/></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
