@(title:String)(breadcrumb:Html)(cargo:Html)(implicit flash:Flash, currentRecipient:Option[Recipient])

<!DOCTYPE html>

<html>
    <head>
        <title>Wish @title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")"/>
        <link href='http://fonts.googleapis.com/css?family=Lemon' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/grid.css")"/>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/site.css")"/>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/cargo.css")"/>
        <link rel="shortcut icon" href="@routes.Assets.at("images/favicon.ico")"/>
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
    </head>
    <body>
        <div id="ocean" class="structure">
            <div id="fleet" class="structure">
                <div id="regatta" class="structure">
                    <div id="ship" class="structure">
                        <div id="hull" class="structure">
                            <div id="vaka" class="structure">
                                <div id="bow" class="compartment">
                                    <img src="@routes.Assets.at("images/wish.gif")"/>
                                    <h2>Wish</h2>
                                </div>
                                <div id="lookout" class="compartment">
                                    <ul class="horizontal">
                                        <li><a href="@routes.Application.index">Home</a></li>
                                    </ul>
                                </div>
                                 <div id="keel" class="structure">
                                    <div id="innerhull" class="structure">
                                        <div id="jib" class="compartment">  
                                            <div id="logout-box">
                                                <ul class="breadcrumb">
                                                @currentRecipient.map{ recipient =>

                                                    <li><a href="@routes.RecipientController.showProfile(recipient.username)">@recipient.username</a>
                                                        <span class="divider">/</span></li>
                                                    <li><a href="@routes.Application.logout">log out</a></li>
                                                }.getOrElse{
                                                    <li><a href="@routes.Application.showLoginForm">log in</a>
                                                   <span class="divider">/</span></li> 
                                                    <li><a href="@routes.Application.showRegisterForm">register</a></li>
                                                }
                                                </ul>
                                            </div>  
                                            <ul class="breadcrumb" id="breadcrumb">
                                                <li><a href="@routes.Application.index">home </a><span class="divider">/</span></li>
                                                @breadcrumb
                                            </ul>    
                                        </div>
                                        <div id="bulkhead" class="structure">
                                            <div id="ballast" class="structure">
                                                <div id="cargo" class="compartment">

                                                    @flash.get("message").map { message =>
                                                    <p class="alert alert-info">
                                                        <button type="button" class="close" data-dismiss="alert">×</button>
                                                        @message
                                                    </p>
                                                    }

                                                    @flash.get("messageSuccess").map { message =>
                                                    <p class="alert alert-success">
                                                        <button type="button" class="close" data-dismiss="alert">×</button>
                                                        @message
                                                    </p>
                                                    }

                                                    @flash.get("messageWarning").map { message =>
                                                    <p class="alert alert-warning">
                                                        <button type="button" class="close" data-dismiss="alert">×</button>
                                                        @message
                                                    </p>
                                                    }

                                                    @flash.get("messageError").map { message =>
                                                    <p class="alert alert-error">
                                                        <button type="button" class="close" data-dismiss="alert">×</button>
                                                        @message
                                                    </p>
                                                    }

                                                    @cargo

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="aft" class="compartment">
                                    <ul class="horizontal">
                                        <li><a href="@routes.Application.about">About</a></li>
                                        <li><a href="http://wishlist.sourceforge.net">Project</a></li>
                                        <li><a href="@routes.Application.contact">Contact</a></li>
                                    </ul>
                                </div>
                                <div id="stern" class="compartment">
                                    <a href="http://flurdy.com" title="By flurdy: open source hobby projects"><img id="flurdyLink"
                                        src="@routes.Assets.at("images/flurdy_warped_dual_small.png")"/></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
