@(registerForm:Form[(String,Option[String],String,String,String)])(implicit flash:Flash, currentRecipient:Option[Recipient])

@import helper._

@nautical("register") {
	<li><a href="@routes.Application.showRegisterForm">register</a></li>
} {
	<div id="register-page">
	    
		<h2>Register</h2>


	    @for(error <- registerForm.errors){
	    <p class="alert alert-error">
	        @error.message: @error.key
	    </p>
	    }

		<div class="well">	
			@form(action = routes.Application.register(), 'class -> "form-horizontal") {
				<div class="control-group">
    				<label class="control-label" for="inputFullName">Your name</label>
					<div class="controls"> 
						<input type="text" class="input-large" id="inputFullName" name="fullname" placeholder="Your name" value="@registerForm("fullname").value"/>
					</div>
				</div>
				<div class="control-group">
    				<label class="control-label" for="inputUsername">Username</label>
					<div class="controls"> 
						<input type="text" class="input-large" id="inputUsername" name="username" placeholder="Your desired username"value="@registerForm("username").value"/>
					</div>
				</div>
				<div class="control-group">
    				<label class="control-label" for="inputEmail">Email address</label>
					<div class="controls"> 
						<input type="text" class="input-large" id="inputEmail" name="email" placeholder="Your email address"value="@registerForm("email").value"/>
					</div>
				</div>
				<div class="control-group">
   				<label class="control-label" for="inputPassword">Password</label>
					<div class="controls"> 
						<input type="password" class="input-large" id="inputPassword" name="password" placeholder="Your password"/>
					</div>
				</div>
				<div class="control-group">
   				<label class="control-label" for="inputPasswordConfirm">Confirm password</label>
					<div class="controls"> 
						<input type="password" class="input-large" id="inputPasswordConfirm" name="confirm" placeholder="Your password again"/>
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<button type="submit" class="btn btn-success input-small">register</button>
					</div>
				</div>
			}
		</div>

	
	</div>


    
}